body {
    font-family:"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.brand-link .brand-image {
    float: left;
    line-height: .8;
    margin-left: .2rem;
    margin-right: .5rem;
    margin-top: -3px;
    max-height: 60px;
    width: auto;
}

.content-wrapper > .content {
    padding: 0 4rem;
}

.content-header {
    padding: 15px 4rem;
}

.layout-fixed .main-sidebar {
    bottom: 0;
    float: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    background-color: #fff;
}

.layout-fixed .main-sidebar-seconday-color {
    bottom: 0;
    float: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    background-color: #404042;
}
.bg-bluegradient{
	color: #ffffff;
	
background: rgba(73,155,234,1);
background: -moz-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(2,66,135,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(2,66,135,1)));
background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(2,66,135,1) 100%);
background: -o-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(2,66,135,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(2,66,135,1) 100%);
background: linear-gradient(135deg, rgba(73,155,234,1) 0%, rgba(2,66,135,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#024287', GradientType=1 );

}

.main-header-panel{
    color:#ffffff; 
    background: #404042; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #404042 0%, #070102 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #404042 0%,#070102 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #404042 0%,#070102 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404042', endColorstr='#070102',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 
}

.bg-dark-gradient{
    color:#ffffff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#404042+0,070102+100 */
background: #404042; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #404042 0%, #070102 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #404042 0%,#070102 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #404042 0%,#070102 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404042', endColorstr='#070102',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.btn-primary {
    color: #fff;
    background-color: #499cea;
    border-color: #499cea;
    box-shadow: none;
}
.btn-sijitu-red {
    color: #fff;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d72c4e+0,721326+100 */
background: #d72c4e; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #d72c4e 0%, #721326 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #d72c4e 0%,#721326 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #d72c4e 0%,#721326 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d72c4e', endColorstr='#721326',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: none;
}

.border-transparent {
    background-color: #024287;
    color:#ffffff;
}

.max-height{
	max-height: 30%;
}

.buttonWidth30{
	width: 30%;
}

.bg_red_widget_1{
color: #ffffff;

background: rgba(199,228,255,1);
background: -moz-linear-gradient(45deg, rgba(199,228,255,1) 0%, rgba(10,67,127,1) 95%, rgba(0,58,120,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(199,228,255,1)), color-stop(95%, rgba(10,67,127,1)), color-stop(100%, rgba(0,58,120,1)));
background: -webkit-linear-gradient(45deg, rgba(199,228,255,1) 0%, rgba(10,67,127,1) 95%, rgba(0,58,120,1) 100%);
background: -o-linear-gradient(45deg, rgba(199,228,255,1) 0%, rgba(10,67,127,1) 95%, rgba(0,58,120,1) 100%);
background: -ms-linear-gradient(45deg, rgba(199,228,255,1) 0%, rgba(10,67,127,1) 95%, rgba(0,58,120,1) 100%);
background: linear-gradient(45deg, rgba(199,228,255,1) 0%, rgba(10,67,127,1) 95%, rgba(0,58,120,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7e4ff', endColorstr='#003a78', GradientType=1 );

}

.bg_red_widget_1_2{
	color: #ffffff;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d72c4e+0,670e20+100 */
background: #d72c4e; /* Old browsers */
background: -moz-linear-gradient(top,  #d72c4e 0%, #670e20 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d72c4e 0%,#670e20 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d72c4e 0%,#670e20 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d72c4e', endColorstr='#670e20',GradientType=0 ); /* IE6-9 */

}

.bg-dark-gradient > .card-header > h3 {
    color:#D72C4E;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #D72C4E;
}


/************ MEDIA QUERY ***************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.content-wrapper > .content {
    padding: 0 1rem;
}

.content-header {
    padding: 15px 1rem;
}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
